# Extra Credit

In [1]:
#VII (Optional, 20 extract points) Find predictions for every instance in the test set and submit the results to Kaggle. 
# Note that the submission file should have the same format as sample_submission.csv

In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import zipfile
import folium
%matplotlib inline

In [45]:
# First let load the data as a pandas DataFrame.
url = "https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data/train.csv"
House_price = pd.read_csv('train.csv')
House_price.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [46]:
House_price.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [47]:
# let create a fuction that generate the TotalArea and add it to House_price data frame
def TotalArea (House_price):
    
    return House_price['GrLivArea'] + House_price['TotalBsmtSF']

In [48]:
TotalArea(House_price.loc[0, :])

2566

In [49]:
House_price['TotalArea'] = House_price.apply(TotalArea, axis = 1)
House_price.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,TotalArea
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,NaN,0,2,2008,WD,Normal,208500,2566
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,NaN,0,5,2007,WD,Normal,181500,2524
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,NaN,0,9,2008,WD,Normal,223500,2706
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000,2473
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,NaN,0,12,2008,WD,Normal,250000,3343

In [57]:
# Let Create a function that calculate Area per room and add it to the House_price data frame
def AreaPerRoom(House_price):
    return House_price['GrLivArea'] / House_price['TotRmsAbvGrd']

In [58]:
AreaPerRoom(House_price.loc[0, :])

213.75

In [59]:
House_price['AreaPerRoom'] = House_price.apply(AreaPerRoom, axis = 1)
House_price.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,TotalArea,AreaPerRoom
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,0,2,2008,WD,Normal,208500,2566,213.750000
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,0,5,2007,WD,Normal,181500,2524,210.333333
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,0,9,2008,WD,Normal,223500,2706,297.666667
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,0,2,2006,WD,Abnorml,140000,2473,245.285714
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,0,12,2008,WD,Normal,250000,3343,244.222222

In [60]:
# Let calculate the standard deviation for all instances
House_price.std()

Id                 421.610009
MSSubClass          42.300571
LotFrontage         24.284752
LotArea           9981.264932
OverallQual          1.382997
OverallCond          1.112799
YearBuilt           30.202904
YearRemodAdd        20.645407
MasVnrArea         181.066207
BsmtFinSF1         456.098091
BsmtFinSF2         161.319273
BsmtUnfSF          441.866955
TotalBsmtSF        438.705324
1stFlrSF           386.587738
2ndFlrSF           436.528436
LowQualFinSF        48.623081
GrLivArea          525.480383
BsmtFullBath         0.518911
BsmtHalfBath         0.238753
FullBath             0.550916
HalfBath             0.502885
BedroomAbvGr         0.815778
KitchenAbvGr         0.220338
TotRmsAbvGrd         1.625393
Fireplaces           0.644666
GarageYrBlt         24.689725
GarageCars           0.747315
GarageArea         213.804841
WoodDeckSF         125.338794
OpenPorchSF         66.256028
EnclosedPorch       61.119149
3SsnPorch           29.317331
ScreenPorch         55.757415
PoolArea            40.177307
MiscVal            496.123024
MoSold               2.703626
YrSold               1.328095
SalePrice        79442.502883
TotalArea          823.598492
AreaPerRoom         44.740397
dtype: float64

In [61]:
# 1. Load test.csv 
url = 'https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data?select=test1.csv'
test_data = pd.read_csv('test1.csv')
test_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [62]:
test_data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition'],
      dtype='object')

In [63]:
# let create a fuction that generate the TotalArea and add it to test_data data frame
def TotalArea (test_data):
    
    return test_data['GrLivArea'] + test_data['TotalBsmtSF']

In [64]:
TotalArea(test_data.loc[0, :])

1778.0

In [65]:
test_data['TotalArea'] = test_data.apply(TotalArea, axis = 1)
test_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,TotalArea
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,1778.0
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,2658.0
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,2557.0
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,2530.0
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,0,NaN,NaN,NaN,0,1,2010,WD,Normal,2560.0

In [66]:
# let create a fuction that generate the AreaPerRoom and add it to test_data data frame
def AreaPerRoom (test_data):
    
    return test_data['GrLivArea'] / test_data['TotRmsAbvGrd']

In [67]:
AreaPerRoom(test_data.loc[0,:])

179.2

In [68]:
test_data['AreaPerRoom'] = test_data.apply(AreaPerRoom, axis = 1)
test_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,TotalArea,AreaPerRoom
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,NaN,MnPrv,NaN,0,6,2010,WD,Normal,1778.0,179.200000
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,Gar2,12500,6,2010,WD,Normal,2658.0,221.500000
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,NaN,MnPrv,NaN,0,3,2010,WD,Normal,2557.0,271.500000
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,NaN,0,6,2010,WD,Normal,2530.0,229.142857
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,NaN,NaN,NaN,0,1,2010,WD,Normal,2560.0,256.000000

In [69]:
# Add a new column (“Diff”) to the House_price House_price frame . 
#For each row, calculate a weighted sum of the differences between this row’s features and those from the test row.
#For each feature, use the reciprocal of its standard deviation as its weight.
# similarity = diff * 1/House_price.std()
    
House_price['Diff'] = np.abs(House_price['OverallQual'] - test_data['OverallQual']) * (1/House_price['OverallQual'].std()) + \
                      np.abs(House_price['YearBuilt'] - test_data['YearBuilt']) * (1/House_price['YearBuilt'].std())+ \
                      np.abs(House_price['TotalBsmtSF'] - test_data['TotalBsmtSF']) * (1/House_price['TotalBsmtSF'].std()) + \
                      np.abs(House_price['GrLivArea'] - test_data['GrLivArea']) * (1/House_price['GrLivArea'].std()) + \
                      np.abs(House_price['TotRmsAbvGrd'] - test_data['TotRmsAbvGrd']) * (1/House_price['TotRmsAbvGrd'].std()) + \
                      np.abs(House_price['TotalArea'] - test_data['TotalArea']) * (1/House_price['TotalArea'].std()) + \
                      np.abs(House_price['AreaPerRoom'] - test_data['AreaPerRoom']) * (1/House_price['AreaPerRoom'].std()) + \
                      np.abs(House_price['MSSubClass'] - test_data['MSSubClass']) * (1/House_price['MSSubClass'].std()) + \
                      np.abs(House_price['LotFrontage'] - test_data['LotFrontage']) * (1/House_price['LotFrontage'].std()) + \
                      np.abs(House_price['OverallCond'] - test_data['OverallCond']) * (1/House_price['OverallCond'].std()) + \
                      np.abs(House_price['YearRemodAdd'] - test_data['YearRemodAdd']) * (1/House_price['YearRemodAdd'].std()) + \
                      np.abs(House_price['MasVnrArea'] - test_data['MasVnrArea']) * (1/House_price['MasVnrArea'].std()) + \
                      np.abs(House_price['BsmtFinSF1'] - test_data['BsmtFinSF1']) * (1/House_price['BsmtFinSF1'].std()) + \
                      np.abs(House_price['BsmtFinSF2'] - test_data['BsmtFinSF2']) * (1/House_price['BsmtFinSF2'].std()) + \
                      np.abs(House_price['BsmtUnfSF'] - test_data['BsmtUnfSF']) * (1/House_price['BsmtUnfSF'].std()) + \
                      np.abs(House_price['1stFlrSF'] - test_data['1stFlrSF']) * (1/House_price['1stFlrSF'].std()) + \
                      np.abs(House_price['2ndFlrSF'] - test_data['2ndFlrSF']) * (1/House_price['2ndFlrSF'].std()) + \
                      np.abs(House_price['LowQualFinSF'] - test_data['LowQualFinSF']) * (1/House_price['LowQualFinSF'].std()) + \
                      np.abs(House_price['BsmtFullBath'] - test_data['BsmtFullBath']) * (1/House_price['BsmtFullBath'].std()) + \
                      np.abs(House_price['BsmtHalfBath'] - test_data['BsmtHalfBath']) * (1/House_price['BsmtHalfBath'].std()) + \
                      np.abs(House_price['FullBath'] - test_data['FullBath']) * (1/House_price['FullBath'].std()) + \
                      np.abs(House_price['HalfBath'] - test_data['HalfBath']) * (1/House_price['HalfBath'].std()) + \
                      np.abs(House_price['BedroomAbvGr'] - test_data['BedroomAbvGr']) * (1/House_price['BedroomAbvGr'].std()) + \
                      np.abs(House_price['KitchenAbvGr'] - test_data['KitchenAbvGr']) * (1/House_price['KitchenAbvGr'].std()) + \
                      np.abs(House_price['Fireplaces'] - test_data['Fireplaces']) * (1/House_price['Fireplaces'].std()) + \
                      np.abs(House_price['GarageYrBlt'] - test_data['GarageYrBlt']) * (1/House_price['GarageYrBlt'].std()) + \
                      np.abs(House_price['GarageCars'] - test_data['GarageCars']) * (1/House_price['GarageCars'].std()) + \
                      np.abs(House_price['GarageArea'] - test_data['GarageArea']) * (1/House_price['GarageArea'].std()) + \
                      np.abs(House_price['WoodDeckSF'] - test_data['WoodDeckSF']) * (1/House_price['WoodDeckSF'].std()) + \
                      np.abs(House_price['OpenPorchSF'] - test_data['OpenPorchSF']) * (1/House_price['OpenPorchSF'].std()) + \
                      np.abs(House_price['EnclosedPorch'] - test_data['EnclosedPorch']) * (1/House_price['EnclosedPorch'].std()) + \
                      np.abs(House_price['3SsnPorch'] - test_data['3SsnPorch']) * (1/House_price['3SsnPorch'].std()) + \
                      np.abs(House_price['ScreenPorch'] - test_data['ScreenPorch']) * (1/House_price['ScreenPorch'].std()) + \
                      np.abs(House_price['PoolArea'] - test_data['PoolArea']) * (1/House_price['PoolArea'].std()) + \
                      np.abs(House_price['MiscVal'] - test_data['MiscVal']) * (1/House_price['MiscVal'].std()) + \
                      np.abs(House_price['MoSold'] - test_data['MoSold']) * (1/House_price['MoSold'].std()) + \
                      np.abs(House_price['YrSold'] - test_data['YrSold']) * (1/House_price['YrSold'].std()) 

House_price.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,TotalArea,AreaPerRoom,Diff
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,NaN,0,2,2008,WD,Normal,208500,2566,213.750000,35.366701
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,NaN,0,5,2007,WD,Normal,181500,2524,210.333333,46.593367
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,NaN,0,9,2008,WD,Normal,223500,2706,297.666667,13.952173
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,NaN,0,2,2006,WD,Abnorml,140000,2473,245.285714,29.153363
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,NaN,0,12,2008,WD,Normal,250000,3343,244.222222,37.078496

In [70]:
# Let sort the rows so that values in the “Diff” column is listed in ascending order.
#The top 5 instances are the closest neighbors of the new instance y. 
# k = 5
data = House_price.sort_values(by=['Diff'])
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,TotalArea,AreaPerRoom,Diff
1050,1051,20,RL,73.0,8993,Pave,NaN,IR1,Lvl,AllPub,...,NaN,0,8,2007,New,Partial,176485,2604,217.000000,4.176379
195,196,160,RL,24.0,2280,Pave,NaN,Reg,Lvl,AllPub,...,NaN,0,7,2009,WD,Normal,148500,2311,208.000000,5.055876
534,535,60,RL,74.0,9056,Pave,NaN,IR1,Lvl,AllPub,...,NaN,0,10,2006,WD,Normal,178000,2121,235.666667,9.520269
857,858,60,RL,65.0,8125,Pave,NaN,Reg,Lvl,AllPub,...,NaN,0,3,2009,WD,Normal,174000,2183,246.833333,10.282213
864,865,20,FV,72.0,8640,Pave,NaN,Reg,Lvl,AllPub,...,NaN,0,5,2008,New,Partial,250580,2744,228.666667,10.308504

In [82]:
data.shape

(1460, 84)

In [84]:
# Calculate the average sale price of these instances. This will be the prediction of the new instance
prediction_new_instance = data[['Id', 'SalePrice']]
#print("Prediction:", prediction_new_instance)
prediction_new_instance.head()

        Id  SalePrice
1050  1051     176485
195    196     148500
534    535     178000
857    858     174000
864    865     250580

In [85]:
prediction_new_instance.to_csv('SalePrice.csv', index = False)