# A choropleth map showing the number of COVID cases in different states of America.

In [56]:
# install Folium
!pip install folium

Requirement already satisfied: folium in c:\users\fadil\anaconda3\lib\site-packages (0.11.0)
Requirement already satisfied: requests in c:\users\fadil\anaconda3\lib\site-packages (from folium) (2.24.0)
Requirement already satisfied: branca>=0.3.0 in c:\users\fadil\anaconda3\lib\site-packages (from folium) (0.4.1)
Requirement already satisfied: numpy in c:\users\fadil\anaconda3\lib\site-packages (from folium) (1.18.5)
Requirement already satisfied: jinja2>=2.9 in c:\users\fadil\anaconda3\lib\site-packages (from folium) (2.11.2)
Requirement already satisfied: idna<3,>=2.5 in c:\users\fadil\anaconda3\lib\site-packages (from requests->folium) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\fadil\anaconda3\lib\site-packages (from requests->folium) (1.25.9)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\fadil\anaconda3\lib\site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\fadil\anaconda3\lib\site-packages (from requests->folium) (2020.6.20)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\fadil\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (1.1.1)

In [88]:
import folium
import numpy as np
import pandas as pd
folium.__version__

'0.11.0'

In [103]:
# load us states covid 19 cases on 
# https://www.kaggle.com/brendan45774/covid19-us-marchseptember/10-2-20 covid19 cases and deaths.csv
url = 'https://www.kaggle.com/brendan45774/covid19-us-marchseptember/10-2-20 covid19 cases and deaths.csv'
us_states = pd.read_csv('10-2-20 covid19 cases and deaths.csv')
us_states.head()

,State/Territory,Total Cases,Confirmed Cases,Probable Cases,Cases in Last 7 Days,Case Rate per 100000,Total Deaths,Confirmed Deaths,Probable Deaths,Deaths in Last 7 Days,Death Rate per 100000,State Region
0,Alabama,154701,137564.0,17137.0,7548,3165,2540,2399.0,141.0,60,51,South
1,Alaska,7824,NaN,NaN,820,1061,56,NaN,NaN,11,7,West
2,Arkansas,83697,NaN,NaN,5734,2777,1369,NaN,NaN,140,45,South
3,American Samoa,0,NaN,NaN,0,0,0,NaN,NaN,0,0,Other
4,Arizona,218507,213934.0,4573.0,3223,3047,5650,5382.0,268.0,125,78,West

In [104]:
us_states = us_states[['State/Territory', 'Total Cases']]
us_states.head()

  State/Territory  Total Cases
0         Alabama       154701
1          Alaska         7824
2        Arkansas        83697
3  American Samoa            0
4         Arizona       218507

In [105]:
us_states.shape

(60, 2)

In [106]:
us_states[us_states['State/Territory'] == 'New York']

   State/Territory  Total Cases
38        New York       214608

In [107]:
url = 'https://www.kaggle.com/brendan45774/covid19-us-marchseptember/10-2-20 covid19 cases and deaths.csv'
us_states = f'{url}/us_states.json'

In [108]:
# Create the choropleth map
m = folium.Map(location=[48, -102],zoom_start=3)

folium.Choropleth(
    geo_data=us_states,
    name='choropleth',
    data=us_states,
    columns=['State/Territory', 'Total Cases'],
    key_on='feature.properties.name',
    fill_color='YlGn',
    fill_opacity=0.7,
    line_opacity=0.2,
    legend_name='US Caseses'
).add_to(m)

folium.LayerControl().add_to(m)

m

ValueError: dictionary update sequence element #0 has length 1; 2 is required