# Week 4
# Pandas Data Frames (Part 1)

[Pandas](https://pandas.pydata.org/) is a major tool for data scientists on Python. It contains data structures and data manipulation tools designed to make data cleaning and analysis fast and easy.

References:
- Textbook Chapter 5: Getting Started with Pandas
- [Pandas User Guide](https://pandas.pydata.org/docs/user_guide/index.html)
- [Pandas Exercises on W3Resources](https://www.w3resource.com/python-exercises/pandas/index.php)

In [ ]:
import numpy as np
import pandas as pd # pd is the universally-used abbreviation

Pandas provides two data types that extend numpy arrays:
- Data Series: extending 1D array, used to represent a single feature
- Data Frame: extending 2D array, used to represent a data table

We will focus on data frames today, as most data sets are stored in table format.

In [5]:
#Define a DataFrame from scratch
import numpy as np
import pandas as pd
df1 = pd.DataFrame(np.random.rand(5, 3),
                   columns=['Feature1', 'Feature2', 'Feature3'])
df1
df1.head() # prints the first several rows

   Feature1  Feature2  Feature3
0  0.988552  0.201237  0.878205
1  0.202654  0.884357  0.838927
2  0.421296  0.159520  0.216521
3  0.727226  0.369578  0.029301
4  0.596383  0.283818  0.536084

In [6]:
# Print the shape of the data frame
print(df1.shape)

(5, 3)

In [7]:
# Row indices
print(df1.index)
print(df1.index.values)

RangeIndex(start=0, stop=5, step=1)
[0 1 2 3 4]

In [8]:
# Column indices
print(df1.columns)
print(df1.columns.values)

Index(['Feature1', 'Feature2', 'Feature3'], dtype='object')
['Feature1' 'Feature2' 'Feature3']

In [10]:
# Access elements using .loc[row_index, col_index]
# Ex: Print the Feature1 value on the first row
print(df1.loc[0, "Feature1"])
print(df1.loc[2, "Feature2"])

0.9885522080792556
0.15951975061484913

In [12]:
# Index slicing
# Ex: Print the Feature2 value for the first 3 rows
print(df1.loc[:,"Feature2"])

0    0.201237
1    0.884357
2    0.159520
3    0.369578
4    0.283818
Name: Feature2, dtype: float64

In [13]:
# Ex: Print the Feature2 and Feature3 values for the last 3 rows
# .loc[] does not support negative index
print(df1.loc[2:4, ['Feature1', 'Feature2']])

   Feature1  Feature2
2  0.421296  0.159520
3  0.727226  0.369578
4  0.596383  0.283818

In [14]:
# Ex: Use boolean indexing to extract the last 3 rows
row_indices = (df1.index >= 2)
print(row_indices)
print(df1.loc[row_indices, :])

[False False  True  True  True]
   Feature1  Feature2  Feature3
2  0.421296  0.159520  0.216521
3  0.727226  0.369578  0.029301
4  0.596383  0.283818  0.536084

## Basic Table Operations
- Change a value 
- Add a new row
- Add a new column
- Remove a row
- Remove a column

In [15]:
data = [[60, 70, 80],
        [66, 88, 77],
        [100, 60, 30],
        [85, 87, 83]]
scores = pd.DataFrame(data,
                      index=['Alice', 'Bob', 'Chris', 'David'],
                      columns=['Quiz1', 'Quiz2', 'Final'])
scores

       Quiz1  Quiz2  Final
Alice     60     70     80
Bob       66     88     77
Chris    100     60     30
David     85     87     83

In [ ]:
# Change Alice's final score to 90.
scores.loc['Alice', 'Final'] = 90
scores

In [ ]:
# Add a new row: "Edward": [77, 88, 99]
scores.loc['Edward', :] = [77, 88, 99]
scores

In [ ]:
# Append a new data frame
more_scores = pd.DataFrame(data={'Quiz1': [67, 76],
                                 'Quiz2': [78, 87],
                                 'Final': [89, 98]},
                           index=['Flora', 'Gabriel']) # Represent data as a dictionary
print(more_scores)
total_scores = scores.append(more_scores) # append() creates a new data frame
total_scores

In [ ]:
# Add a column "ExtraCredit"
total_scores['ExtraCredit'] = [0, 1, 2, 3, 4, 5, 6]
total_scores

In [ ]:
# Add additional columns from another data frame
# will be discussed in Chapter 8

In [ ]:
# Remove record for Chris
total_scores.drop('Chris') # drop() creates a new data frame

In [ ]:
# Remove column "ExtraCredit"
total_scores.drop('ExtraCredit', axis=1) # drop() creates a new data frame

In [ ]:
# Remove both David and Flora
total_scores.drop(['David', 'Flora'])

## Table Arithmetics
- Perform an operation uniformly to all values in a column
- Arithmetics with multiple columns
- Calculate statistics
- Apply a user-defined function to all rows

In [ ]:
# Double the extra credits

In [ ]:
# Calculate grades:
#   Grades = Quiz1 * 25% + Quiz2 * 25% + Final * 50% + ExtraCredit

In [ ]:
# Ex: Curve the grades:
# Formula: CurvedGrades = sqrt(Grades) * 10

In [ ]:
# Calculate the min, max, mean, median, variance, and std of the final grades

In [ ]:
# Ex: Define a function num2letter() that converts a numerical grade to a letter grade.
# For example, num2letter(95) returns 'A', num2letter(59) returns 'F'

In [ ]:
# Apply the function to the final grade column

## Example: Revisit 80 Cereal Data

Using Pandas and DataFrame, let repeat our analysis of the 80 Cereal Data:
- Load the csv file using `pd.read_csv()`
- Examine the data
- Explore the ratings
- Analyze sugar contents

In [ ]:
# Load the dataset
raw_data = pd.read_csv('cereal.csv') 
raw_data.head() # by default, column names come from the first row, and integer indexing is used.

In [ ]:
# Display the shape

In [ ]:
# Display the columns

In [ ]:
# Display the data types

In [ ]:
# Display all cereal names

In [ ]:
# Display all cereal ratings

In [ ]:
# Find the product name with highest rating

In [ ]:
# Display all cereals with rating above 60

In [ ]:
# Calculate sugar per ounce
# sugar per ounce = sugar per serving / ounce per serving

In [ ]:
# Which product has the highest amount of sugar per ounce?

In [ ]:
os.get.cwd()